.App {
  margin: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.Image-List {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

img {
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
  display: block;
}

.active {
  font-style: italic;
}

button {
  background-color: #438bbd;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input {
  background-color: #edeff0;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #d7dbdf;
  border-radius: 5px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  background-color: #438bbd;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}